.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mat-card {
  margin: auto;
  margin-bottom: 20px; /* Ajusta este valor según tus necesidades */
  width: 100%; /* Ajusta este valor según tus necesidades */
}

mat-form-field {
  width: 70%;
  margin-top: 20px;
}

.photo {
  width: 100px;  /* Ajusta el ancho de la imagen */
  overflow: auto;  /* Mantiene la proporción de la imagen */
}

.rating span {
  font-size: 30px;  /* Ajusta el tamaño de la fuente */
  color: #DD763D;  /* Cambia el color de las estrellas */
}

.card-actions{
  width: 100%;
  justify-content: center;
}

.card-button{
  background: #DD763D;
  border-radius: 35px;
  padding: 20px;
  width: 200px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 70%; /* Ajusta este valor para acercar los botones al centro */
  margin-top: 100px; /* Ajusta este valor para mover los botones más abajo */
}

.button_only{
  background-color: #DD763D;
  border-radius: 35px;
  padding: 20px;
  width: 200px;
}



