<h1>JAULA {{cageID}}</h1>
<div class="no-animals" *ngIf="animals.length === 0">
  <h2>No se han encontrado animales</h2>
</div>
<div class="animals">
    <div class="animal" [ngClass]="{'deceased': animal.status === 'Fallecido'}" *ngFor="let animal of animals" (click)="getInformation(animal.id)">
      <img src="../../../../assets/images/cuy.png" alt="cuy {{animal.id}}">
      <div class="animal-info">
        <h2>ID: {{animal.id}}</h2>
        <p>Nombre: {{animal.name}}</p>
        <p>Estado: {{animal.status}}</p>
      </div>
    </div>
</div>

<div class="back">
  <button mat-raised-button color="warn" aria-label="Boton de retroceso" (click)="goBack()" class="back-button">
    <mat-icon aria-label="flecha de retroceso">arrow_back</mat-icon>
    Volver
  </button>
</div>

