<main>
  <div id="cards">
    <div class="card" *ngFor="let client of clients">
      <mat-card class="row" aria-label="Información de cliente pendiente de cita">
        <mat-card-header class="col">
          <mat-card-title>
            Cliente {{client.id }}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="col">
          <p>Nombre: {{client.breeder_name}}</p>
          <p>Estado: {{client.status}}</p>
          <button mat-raised-button (click)="getAppointment(client.id)">Ver más</button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</main>
