mat-card {
  background-color: #dd763d;
  color: white;
  margin: 5%;
  padding: 10px;
  border-radius: 10px;
}

img {
  width: 50%;
  display: block;
  margin: 0 auto;
}

button {
  border-radius: 5px;
  padding: 10px;
  display: block;
  margin: 0 auto;
}

.row {
  margin: 5px;
  display: flex;
  flex-direction: row;
}
