<div class="card-container">
  <!-- resource management card -->
  <mat-card class="mat-card">
    <mat-card-header>
      <mat-card-title class="card-title">Gestión de recursos</mat-card-title>
      <mat-card-subtitle class="card-subtitle">¡Gestione los recursos de su granja aquí!</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions class="card-actions">
      <button mat-button style="color: #ffffff" class="card-button" (click)="redirectToHome()">Continuar</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="mat-card">
    <mat-card-header>
      <mat-card-title class="card-title">Gestión de recursos</mat-card-title>
      <mat-card-subtitle class="card-subtitle">¡Gestione los recursos de su granja aquí!</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions class="card-actions">
      <button mat-button style="color: #ffffff" class="card-button">Continuar</button>
    </mat-card-actions>
  </mat-card>

  <p>Nota: Esta sección es para visualizar los datos ya registrados, para registrar nueva información, diríjase a la sección Registro.</p>
</div>
