<main>
  <div id="cards">
    <div class="card" *ngFor="let notification of notifications">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            {{notification.type}} - {{notification.text}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
          {{notification.date | date: 'MMM d, y, h:mm'}}
          </p>
          <button mat-raised-button>Entendido</button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

</main>
