<main>
  <div class="card">
    <mat-card class="example-card" aria-label="Información de publicación de asesor">
      <div class="example-header-image" role="article">
        <img mat-card-image src="{{publication.image}}" alt="{{publication.title}}">
      </div>
      <mat-card-content class="container">
        <h2>{{publication.title}}</h2>
        <p>{{publication.description}}</p>
        <p>Publicado el {{publication.date | date: 'dd/MM/yy'}}</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="botones">
    <button mat-raised-button class="boton" (click)="goBack()">Volver</button>
    <button mat-raised-button color="warn" class="boton" (click)="deletePublication(publication.id)">Eliminar</button>
  </div>
</main>
