mat-toolbar{
  background: #91644D;
  display: flex;
  justify-content: center;
<<<<<<< HEAD
  position: fixed;
  z-index: 10;
=======
  position: relative;
  z-index: 2;
>>>>>>> f0ec4dab14312489405355360f9715f5da743317
}

img{
  width: 50px;
  margin-right: 20px;
  border-radius: 50%;
}

label{
  color: white;
  font-size: 32px;
}
span{
  color: black;
}

.display-sidebar {
  position: absolute;
  left: 0;
}

@media (max-width: 320px) {
  img {
    width: 30px;
  }
  label {
    font-size: 24px;
  }
}
