<div class="container">
  <mat-card class="register-user" aria-label="Container for register user form">
    <h1 class="title">Regístrate</h1>
    <mat-card-content>
      <p>Bienvenido a AgroConnect, ¡nos pone muy contentos que estés aquí!</p>
      <img src="../../assets/images/welcome-cuy.png" width="100px"/>
      <p>Para empezar, ¿eres un criador o un asesor?</p>
      <ul>
        <li>Criador: Persona que necesita ayuda para gestionar su granja de cuyes.</li>
        <li>Asesor: Persona que brinda asesoría a criadores de cuyes.</li>
      </ul>
      <p>¿Ya tienes una cuenta? <u class="login">Inicia sesión</u></p>
    </mat-card-content>
    <mat-card-footer>
      <div class="buttons">
        <button mat-flat-button type="button" color="warn" (click)="registerBreeder()">Criador</button>
        <button mat-flat-button type="button" style="background-color: #DD763D; color: #FFFFFF;" (click)="registerAdvisor()">Asesor</button>
      </div>
    </mat-card-footer>
  </mat-card>
</div>
