<div class="container">
  <div class="subtitle">
    <h2>Registrar nuevo cuy</h2>
  </div>
  <div class="group-inputs">
    <mat-form-field>
      <mat-label>Nombre del cuy</mat-label>
      <input matInput placeholder="Nombre del cuy" name="animalName" [(ngModel)]="animal.name">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Raza</mat-label>
      <mat-select name="animalBreed" [(ngModel)]="animal.breed">
        <mat-option value="Andina">Andina</mat-option>
        <mat-option value="Inti">Inti</mat-option>
        <mat-option value="Perú">Perú</mat-option>
        <mat-option value="Kuri">Kuri</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Género</mat-label>
      <mat-select name="animalGender" aria-label="seleccionador de genero" [(ngModel)]="animal.gender">
        <mat-option value="true">Macho</mat-option>
        <mat-option value="false">Hembra</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Fecha de nacimiento</mat-label>
      <input matInput type="date" placeholder="Fecha de nacimiento"  name="animalBirthdate" [(ngModel)]="animal.birthdate">
    </mat-form-field>

    <mat-form-field>
      <mat-label>ID de la jaula</mat-label>
      <input matInput type="number" placeholder="ID de la jaula" name="animalCageId" [(ngModel)]="animal.cage_id">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Peso (kg)</mat-label>
      <input matInput type="number" placeholder="Peso" name="animalWeight" [(ngModel)]="animal.weight">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Estado</mat-label>
      <mat-select name="animalStatus" aria-label="seleccionador de estado" [(ngModel)]="animal.status">
        <mat-option value="Saludable">Saludable</mat-option>
        <mat-option value="Enfermo">Enfermo</mat-option>
        <mat-option value="Fallecido" disabled>Fallecido</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Observaciones</mat-label>
      <textarea matInput rows="5"
                placeholder="Observaciones" name="animalObservations" [(ngModel)]="animal.observations">
      </textarea>
    </mat-form-field>
  </div>
  <div class="group-btns">
    <button style="background-color: #DD763D; color: white;" mat-button (click)="goBack()">Descartar</button>
    <button style="color: white;" mat-raised-button (click)="handleClick()">Registrar</button>
  </div>

</div>
