<div class="resource-view">
  <div class="resource-container">
    <div class="button-container">
      <h1>Registro de nuevo gasto</h1>
      <button mat-raised-button style="padding: 25px; font-size: 2em; background-color: #DD763D; color: white;" routerLink="/criador/registro/gasto">
        Nuevo gasto
      </button>
    </div>

    <div class="filter-title">
      <button mat-mini-fab class="arrow_back-icon" aria-label="button back to MyFarmView" (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <h1>FILTRAR GASTOS REALIZADOS</h1>
    </div>
    <div class="selector-resource">
      <p>Seleccione un tipo de recurso</p>
      <mat-radio-group [(ngModel)]="selectedResourceType" aria-label="Select an option" class="selector-resource-option">
        <mat-radio-button value="1">Todos</mat-radio-button>
        <mat-radio-button value="2">Salud</mat-radio-button>
        <mat-radio-button value="3">Alimento</mat-radio-button>
        <mat-radio-button value="4">Mantenimiento de criadero</mat-radio-button>
      </mat-radio-group>
    </div>
    <button mat-button style="color: #ffffff" class="card-button" (click)="filterResource()">Filtrar</button>

    <!-- Iteration for -->
    <div class="card-container" *ngFor="let result of filteredExpenses">
      <mat-card class="mat-card">
        <div class="mat-card-content">
          <mat-card-title class="card-title">GASTO {{ result.id }}</mat-card-title>
          <div class="math-card-content-column">
            <mat-card-subtitle class="card-subtitle">Monto Gastado: S/.{{ result.amount }}</mat-card-subtitle>
            <mat-card-subtitle class="card-subtitle">Tipo: {{ result.type }}</mat-card-subtitle>
            <mat-card-subtitle class="card-subtitle">Fecha: {{ result.date }}</mat-card-subtitle>
            <mat-card-subtitle class="card-subtitle">Detalle: {{ result.details }}</mat-card-subtitle>
          </div>
        </div>
      </mat-card>
    </div>

    <app-empty-view *ngIf="filteredExpenses.length === 0" [title]="'No hay ningún registro con esas características'"></app-empty-view>
  </div>
</div>

