<mat-card class="row" aria-label="Información de cliente pendiente de cita">
  <div class="col">
    <img mat-card-image src="../../../../assets/images/cuy-appointment.png" alt="Imagen de cuy cita">
  </div>
  <mat-card-header class="col">
    <mat-card-title>
      Cita con {{ client.fullname }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="col">
    <p>Estado: {{client.appointment_status}}</p>
    <button mat-flat-button style="background-color: #7EC306; color: #FFFFFF" (click)="goToAppointment(client.appointment_id)">Ver más</button>
  </mat-card-content>
</mat-card>
