<mat-card class="row" aria-label="Información de cliente pendiente de cita">
  <div class="col">
    <img mat-card-image src="../../../../assets/images/cuy-appointment.png" alt="Imagen de cuy cita">
  </div>
  <mat-card-header class="col">
    <mat-card-title>
      Cita con {{ client.fullname }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="col">
    <p>Estado: {{client.appointmentStatus}}</p>
    <button mat-flat-button style="background-color: #91654E;; color: #FFFFFF; margin-bottom:5px" (click)="goToAppointment(client.appointmentId)">Ver más</button>
    <button mat-flat-button
            [style.backgroundColor]="client.appointmentStatus === 'TERMINADO' ? '#B1B1B1AA' : '#7EC306'"
            [disabled]="client.appointmentStatus === 'TERMINADO'"
            style="color: #FFFFFF; text-align: center; line-height: 1;"
            (click)="finishAppointment()">
      Terminar Cita
    </button>
  </mat-card-content>
</mat-card>
