h1{
  margin: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
}

h2{
  font-family: Inter, sans-serif;
  margin: 30px;
  text-align: center;
  font-weight: lighter;
  font-size: 24px;
}

th{
  color: #DB7154;
}

.tabla{
  width: 80%;
  margin: 0 auto;
}



@media screen and (max-width: 1000px) {
  .tabla{
    width: 90%;
  }
}

@media screen and (max-width: 700px) {
  .tabla{
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .tabla table{
    display: block;
    overflow-x: auto;
  }
}
