<div class="container-flex">
  <h2>SELECCIONE EL TIPO DE REGISTRO</h2>
  <div class="container-grid-btns">
    <button style="color: white;" mat-button routerLink="/criador/registro/jaula">Nueva Jaula</button>
    <button style="color: white;" mat-button routerLink="/criador/registro/animal">Nuevo Cuy</button>
    <button style="color: white;" mat-button routerLink="/criador/registro/gasto">Gastos</button>
    <button style="color: white;" mat-button routerLink="/criador/registro/recurso">Recursos</button>

  </div>
</div>
