h1{
  font-family: Inter, sans-serif;
  margin: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
}

h2{
  font-family: Inter, sans-serif;
  margin: 30px;
  text-align: center;
  font-weight: lighter;
  font-size: 24px;
}

.animals{
  display: grid;
  width: 90%;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.back-button {
  margin-top: 20px;
  padding: 25px 40px;
  font-size: 24px;
}

.back {
  position: fixed;
  bottom: 20px;
  right: 50%;
  transform: translateX(50%);
}


