th{
  color: #DB7154;
}

.tabla{
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 1000px){
  .tabla{
    width: 90%;
  }
}

@media screen and (max-width: 800px){
  .tabla{
    width: 100%;
  }
}
@media screen and (max-width: 500px){
  .tabla table{
    display: block;
    overflow-x: auto;
  }
}



