<h1>RESEÑA</h1>
<div class="form">

  <form (submit)="onSubmit()" #cageForm = "ngForm" aria-label="formulario para reseñar a un asesor">
    <mat-form-field>
      <mat-label>Comentario</mat-label>
      <input matInput placeholder="Comentario" name="reviewComment" [(ngModel)]="review.comment">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Estrellas</mat-label>
      <input matInput type="number" placeholder="estrellas" name="reviewRating" [(ngModel)]="review.rating" required>
    </mat-form-field>
    <div class="buttons">
      <button mat-raised-button color="warn" aria-label="descartar cambios" type="button" (click)="onCancel()">Descartar</button>
      <button mat-raised-button color="primary" aria-label="guardar cambios" type="submit">Guardar</button>
    </div>
  </form>
</div>
