<div class="container-flex">
  <h2>SELECCIONE EL TIPO DE REGISTRO</h2>
  <div class="container-grid-btns">
    <button style="color: white;" mat-button routerLink="register/register-cage">Nueva Jaula</button>
    <button style="color: white;" mat-button routerLink="register/register-cuy">Nuevo Cuy</button>
    <button style="color: white;" mat-button routerLink="register/register-expenses">Gastos</button>
    <button style="color: white;" mat-button routerLink="register/register-resources">Recursos</button>

  </div>
</div>



